/* estilos.css */
img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border-style: solid;
}

header {
    background-color: cadetblue;
    padding: 20px;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: -8px;
    margin-right: -8px;
}

h1{
    font-family: 'Courier New', monospace;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid black;
}

.layout {
    display: flex;
    align-items: center;
    gap: 20px;
}