/* estilos.css */
img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border-style: solid;
}

header {
    background-color: cadetblue;
    padding: 20px;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: -8px;
    margin-right: -8px;
}

h1{
    font-family: 'Courier New', monospace;
}

footer{
    text-align: center;
    padding: 20px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


 .card {
  flex: 1 1 250px;      
  max-width: 300px;    
  min-height: 260px;   
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.card img {
    max-width: 100%;
    height: 150px;
}


.layout {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav a{
    padding: 10px 12px;
    text-decoration: none;
}