nav {
    background-color: cadetblue;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border-style: solid;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}
